absl-py
astor
certifi
click
fastapi
Flask
Flask-Cors
gast
google-pasta
grpcio
gunicorn
h5py
httptools
itsdangerous
Jinja2
keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
matplotlib
numpy
pandas
Pillow
protobuf
PyYAML
scikit-learn
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
uvicorn
uvloop
Werkzeug
wrapt
